#user-table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  background-color: #5a62ff;
  font-family: serif;
  font-size: 1.2em;
  color: white;
}

tbody tr {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* Padding for rows */
th, td {
  padding: 10px;
}

tbody tr:hover {
  background-color: #e2e1e1;
}

.selected-row {
  background-color: #f0f0f0; /* Light grayish background */
}

.edit, .delete, .save, .cancel {
  display: inline-block;
  font-size: 1.2em;
  padding: 5px;
  cursor: pointer;
  margin: 0 5px; /* Space between buttons */
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.save {
  color: rgb(0, 153, 255);
  font-size: 1.4em;
}

.cancel {
  color: rgb(92, 92, 92);
  font-size: 1.4em;
}

.delete-selected {
  background-color: white;
  color: red;
  border: 2px solid #f44336;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 30px;
}

.delete-selected:hover {
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
}

.checkbox-all-input, .checkbox-input {
  cursor: pointer;
}

.table-footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between; /* Ensure buttons stay on same line */
}

@media screen and (max-width: 650px) {
  #user-table {
    display: block;  /* Allow the table to scroll horizontally */
    overflow-x: auto; /* Enable horizontal scrolling when the table exceeds the viewport */
  }

  thead tr {
    font-size: 1.1rem;
  }

  .table-footer {
    flex-direction: column; /* Stack footer buttons vertically on smaller screens */
    margin-top: 1rem;
  }

  .delete-selected {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #user-table {
    display: block;  /* Allow the table to scroll horizontally */
    overflow-x: auto; /* Enable horizontal scrolling when the table exceeds the viewport */
  }

  th, td {
    font-size: 0.9em; /* Smaller font size for better readability on small screens */
  }

  .edit, .delete, .save, .cancel {
    font-size: 1.1em; /* Slightly reduce button font size for small screens */
  }

  .delete-selected {
    font-size: 14px; /* Reduce the font size for the delete button */
  }
}
