:root {
  font-family: serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: linear-gradient(to bottom, #efb0fc, #fdffc7c1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
}
