:root {
  font-family: serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(164, 254, 230, 0.301);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
}
